<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wonderlust</title>
</head>
<body>
    <h3>Listing of per Id</h3>
    <ul>
        <li><%= list.title %></li>
        <li><%= list.description %></li>
        <li>&#8377;<%= list.price.toLocaleString("en-IN") %></li>
        <li><%= list.location %></li>
        <li><%= list.country %></li>
        <li><a href="<%= list.image %>">image</a></li>
    </ul>  
    <br>
    <a href="/listings/<%=list._id%>/edit ">Edit listing information</a> 
</body>
</html>